/*
    @file: domain_finder.css

    Created on : 2016.08.09., 11:39:42
    Author     : dj
*/

.block-domain-finder .form-item-domain-text {
    float: left;
    width: 10em;
    margin-top: 0;
    margin-bottom: 0;
}

.block-domain-finder .form-submit {
    float: left;
}

.block-domain-finder .domain-finder-exts {
    clear: both;
    min-height: 2em;
}

.block-domain-finder .domain-finder-exts .form-type-checkbox {
    float: left;
    margin-right: 1em;
}